* {
	box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	padding: 16px;
	height: 96vh;
}

.divmap {
	float: left;
	height: 96vh;
	width: 66.66%;
}

.menu {
	width: 33.33%;
	overflow-y: auto;
}

.map {
	width: 66.66%;
	overflow-y: auto;
}

.halfscreen {
	float: left;
	padding: 16px;
	margin-bottom: 1rem;
	height: 80vh;
	width: 50%;
	overflow-y: auto;
}

.halfscreen-header {
	float: left;
	padding: 8px 16px 4px 24px;
	width: 50%;
	overflow-y: auto;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.column {
		width: 100%;
		height: fit-content;
	}
}
